port: 7890
socks-port: 7891
redir-port: 7892
mixed-port: 7893
tproxy-port: 7895
allow-lan: true
ipv6: false
bind-address: "*"
mode: rule
# info / warning / error / debug / silent
log-level: error
# RESTful web API listening address
external-controller: 0.0.0.0:9090
secret: ''

dns:
  enable: true
  ipv6: false
  listen: 0.0.0.0:7874
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  nameserver:
    - 223.5.5.5
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
    - 119.29.29.29
    - 114.114.114.114
  fallback:
    - https://dns.cloudflare.com/dns-query
    - tls://dns.google:853
    - tls://1.1.1.1:853
    - tls://8.8.8.8:853
    - https://jp.tiar.app/dns-query
  fake-ip-filter:
    - "+.nflxvideo.net"
    - "+.media.dssott.com"  
    - "*.lan"
    - "*.localdomain"
    - "*.example"
    - "*.invalid"
    - "*.localhost"
    - "*.test"
    - "*.local"
    - "*.home.arpa"
    - "time.*.com"
    - "time.*.gov"
    - "time.*.edu.cn"
    - "time.*.apple.com"
    - "time-ios.apple.com"
    - "time1.*.com"
    - "time2.*.com"
    - "time3.*.com"
    - "time4.*.com"
    - "time5.*.com"
    - "time6.*.com"
    - "time7.*.com"
    - "ntp.*.com"
    - "ntp1.*.com"
    - "ntp2.*.com"
    - "ntp3.*.com"
    - "ntp4.*.com"
    - "ntp5.*.com"
    - "ntp6.*.com"
    - "ntp7.*.com"
    - "*.time.edu.cn"
    - "*.ntp.org.cn"
    - "+.pool.ntp.org"
    - "time1.cloud.tencent.com"
    - "+.music.163.com"
    - "*.126.net"
    - "musicapi.taihe.com"
    - "music.taihe.com"
    - "songsearch.kugou.com"
    - "trackercdn.kugou.com"
    - "*.kuwo.cn"
    - "api-jooxtt.sanook.com"
    - "api.joox.com"
    - "joox.com"
    - "+.y.qq.com"
    - "streamoc.music.tc.qq.com"
    - "mobileoc.music.tc.qq.com"
    - "isure.stream.qqmusic.qq.com"
    - "dl.stream.qqmusic.qq.com"
    - "aqqmusic.tc.qq.com"
    - "amobile.music.tc.qq.com"
    - "*.xiami.com"
    - "+.music.migu.cn"
    - "+.msftconnecttest.com"
    - "+.msftncsi.com"
    - "localhost.ptlogin2.qq.com"
    - "localhost.sec.qq.com"
    - "+.qq.com"
    - "+.tencent.com"
    - "+.srv.nintendo.net"
    - "*.n.n.srv.nintendo.net"
    - "+.stun.playstation.net"
    - "xbox.*.*.microsoft.com"
    - "*.*.xboxlive.com"
    - "xbox.*.microsoft.com"
    - "xnotify.xboxlive.com"
    - "+.battlenet.com.cn"
    - "+.wotgame.cn"
    - "+.wggames.cn"
    - "+.wowsgame.cn"
    - "+.wargaming.net"
    - "proxy.golang.org"
    - "stun.*.*"
    - "stun.*.*.*"
    - "+.stun.*.*"
    - "+.stun.*.*.*"
    - "+.stun.*.*.*.*"
    - "+.stun.*.*.*.*.*"
    - "heartbeat.belkin.com"
    - "*.linksys.com"
    - "*.linksyssmartwifi.com"
    - "*.router.asus.com"
    - "mesu.apple.com"
    - "swscan.apple.com"
    - "swquery.apple.com"
    - "swdownload.apple.com"
    - "swcdn.apple.com"
    - "swdist.apple.com"
    - "lens.l.google.com"
    - "stun.l.google.com"
    - "na.b.g-tun.com"
    - "*.square-enix.com"
    - "*.finalfantasyxiv.com"
    - "*.ffxiv.com"
    - "*.ff14.sdo.com"
    - "ff.dorado.sdo.com"
    - "*.mcdn.bilivideo.cn"
    - "shark007.net"
    - "Mijia Cloud"
    - "+.cmbchina.com"
    - "+.cmbimg.com"
    - "local.adguard.org"
    - "+.sandai.net"
    - "+.n0808.com"
    - "+.services.googleapis.cn"
    - "+.xn--ngstr-lra8j.cn"
    - "+.mijia.tech"
    - "+.mi.com"
    - "+.xiaomi.net"
    - "time.is"

proxies:
{ProxyList}
proxy-groups:
  - name: 默认节点
    type: select
    proxies:
      - 最快节点
{ProxiesNames}
      - DIRECT
 
  - name: YouTube
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Netflix
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Amazon
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Tiktok
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Disney
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: OpenAI
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Google
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: Telegram
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: 其它国际流媒体
    type: select
    proxies:
      - 默认节点
      - 最快节点
{ProxiesNames}
      - DIRECT

  - name: 未知流量
    type: select
    proxies:
      - DIRECT
      - 默认节点
      - 最快节点
{ProxiesNames}

  - name: 最快节点
    type: url-test
    proxies:
{FastestProxiesNames}
    url: https://www.gstatic.com/generate_204
    interval: 300

rule-providers:
#规则来自https://github.com/Loyalsoldier/clash-rules
  icloud:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/icloud.txt
    path: "./rule_provider/icloud.yaml"
    interval: 86400

  apple:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/apple.txt
    path: "./rule_provider/apple.yaml"
    interval: 86400

  proxy:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/proxy.txt
    path: "./rule_provider/proxy.yaml"
    interval: 86400

  direct:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/direct.txt
    path: "./rule_provider/direct.yaml"
    interval: 86400

  private:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/private.txt
    path: "./rule_provider/private.yaml"
    interval: 86400

  gfw:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/gfw.txt
    path: "./rule_provider/gfw.yaml"
    interval: 86400

  tld-not-cn:
    type: http
    behavior: domain
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/tld-not-cn.txt
    path: "./rule_provider/tld-not-cn.yaml"
    interval: 86400

  telegramcidr:
    type: http
    behavior: ipcidr
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/telegramcidr.txt
    path: "./rule_provider/telegramcidr.yaml"
    interval: 86400

  cncidr:
    type: http
    behavior: ipcidr
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/cncidr.txt
    path: "./rule_provider/cncidr.yaml"
    interval: 86400

  lancidr:
    type: http
    behavior: ipcidr
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/lancidr.txt
    path: "./rule_provider/lancidr.yaml"
    interval: 86400

  applications:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/Loyalsoldier/clash-rules/release/applications.txt
    path: "./rule_provider/applications.yaml"
    interval: 86400

#规则来自https://github.com/ningjx/Clash-Rules
#git 加速 gh.con.sh ghproxy.com
  streaming:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/Streaming.txt
    path: "./rule_provider/Streaming.yaml"
    interval: 86400

  netflix:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/Netflix.txt
    path: "./rule_provider/Netflix.list"
    interval: 86400

  openai:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/OpenAI.txt
    path: "./rule_provider/OpenAI.list"
    interval: 86400

  google:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/Google.txt
    path: "./rule_provider/Google.list"
    interval: 86400

  tiktok:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/Tiktok.txt
    path: "./rule_provider/Tiktok.list"
    interval: 86400

  amazon:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/PrimeVideo.txt
    path: "./rule_provider/Amazon.list"
    interval: 86400

  youtube:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/YouTube.txt
    path: "./rule_provider/YouTube.list"
    interval: 86400

  telegram:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/Telegram.txt
    path: "./rule_provider/Telegram.list"
    interval: 86400

  disney:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/auto_generate/Disney.txt
    path: "./rule_provider/Disney.list"
    interval: 86400

  customdirect:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/CustomDirect.txt
    path: "./rule_provider/CustomDirect.list"
    interval: 86400

  customproxy:
    type: http
    behavior: classical
    url: https://mirror.ghproxy.com/https://raw.githubusercontent.com/ningjx/Clash-Rules/master/CustomProxy.txt
    path: "./rule_provider/CustomProxy.list"
    interval: 86400

rules:
  - RULE-SET,customproxy,默认节点
  - RULE-SET,google,Google
  - RULE-SET,openai,OpenAI
  - RULE-SET,netflix,Netflix
  - RULE-SET,youtube,YouTube
  - RULE-SET,amazon,Amazon
  - RULE-SET,tiktok,Tiktok
  - RULE-SET,disney,Disney
  - RULE-SET,telegram,Telegram
  - RULE-SET,telegramcidr,Telegram,no-resolve

  - RULE-SET,customdirect,DIRECT
  - RULE-SET,applications,DIRECT
  - RULE-SET,private,DIRECT
  - RULE-SET,icloud,DIRECT
  - RULE-SET,apple,DIRECT
  - RULE-SET,direct,DIRECT
  - RULE-SET,lancidr,DIRECT,no-resolve
  - RULE-SET,cncidr,DIRECT,no-resolve
  - GEOIP,LAN,DIRECT,no-resolve
  - GEOIP,CN,DIRECT,no-resolve

  - RULE-SET,streaming,其它国际流媒体
  - RULE-SET,proxy,默认节点
  
  - MATCH,未知流量
